{% extends 'base.html' %}
{% block title %} Update Stock {% endblock title %}
{% block body %}

  <div class="container my-3 col-md-4 centered">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-5">Update Stock</h3>
          <form method="POST" action="/update/{{stock.id}}">
            <div class="form-floating mb-4">  
              <input type="text" class="form-control" name="itemCode" id="itemCode" placeholder="ITM001" value="{{stock.itemCode}}" required>
              <label for="itemCode" class="form-label">Item Code</label>
            </div>
            <div class="form-floating mb-4">
                <input type="text" class="form-control" name="itemName" id="itemName" placeholder="Item Name" value="{{stock.itemName}}" required>
                <label for="itemName" class="form-label">Item Name</label>
              </div>
    
            <div class="form-floating mb-4">
                <input type="number" class="form-control" name="stockSize" id="stockSize" placeholder="12" value="{{stock.stockSize}}" required>
                <label for="stockSize" class="form-label">Number of Units</label>
            </div>
            <div class="mb-4">
                <label for="expiryDate" class="form-label">Expiry Date</label>
                <input type="date" class="form-control" name="expiryDate" id="expiryDate" value={{stock.expiryDate}} required>
            </div>
            <div class="mb-3" style="float: right;">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
            
          </form>
        </div>
      </div>
      
     
  </div>



{% endblock body %}