.success-icon:hover{
    color: rgba(42, 111, 238, 0.938);
    cursor: pointer;
}

.danger-icon:hover{
    color: red;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #525257 !Important;
    border: solid 1px #111011 !Important;
}
